<%content_for :menu do%>
	<%=render :file => "layouts/_menu.html.erb"%>
<%end%>

<%content_for :filters do%>
	<%#=render :file => "layouts/_filters.html.erb"%>
<%end%>

<%content_for :avatar do%>
	<%=image_tag("template/avatar/blank.png")%>
	<h2><%=@user.name%></h2>
<%end%>

<div id="Mural">
	
	<div id="FeedContent">
	<%if @posts.blank?%>
		<div id="Feed_Header">
			<h1><%=@user.name%> não tem postagens.</h1>
		</div>
		
		<div id="Post">
			<p>
				
			</p>
		</div>
	<%end%>
		
	<%@posts.each do |post|%>
		<div id="Feed_Header">
			<%=image_tag("template/avatar/blank_chat.jpg", :align => "left")%>
			<h1><%=post.title%></h1>
			por <%=post.user.name%> - 00/00/00 - 00:00
		</div>
		
		<div id="Post">
			<p>
				<%=post.post%>
			</p>
		</div>
	
		<div id="Comments">
			<div id="Title">
				<h2>Comentários</h2>
				<%=link_to "[ ocultar ]", "#"%>
			</div>
			
			<%post.comments.all.each do |comment|%>
			<div id="Comment">
				<div id="Photo">
					<%=image_tag("template/avatar/blank_chat.jpg")%>
				</div>
			
				<div id="Text">
					por <%=comment.user.name%> - 00/00/00 - 00:00<br/><br/>
				
					<p><%=comment.comment%></p>
				</div>
			
				<div class="Clear"></div>
			</div>
			<%end%>
			
			<div id="Write_Comment">
				Deixe seu comentário:
				
				<%=form_for ([post, post.comments.build])  do |f|%>
					<%=f.text_area :comment, :class=>"form_comment"%>
					<%=f.hidden_field :user_id, :value => current_user.id%>
					<%=image_submit_tag("template/buttons/enviar.png", :align => "right")%>
				<%end%>
				<div class="Clear"></div>
			</div>
		
		</div>
	<%end%>
		
	</div>
	
</div>
